<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>POGO API</title>
</head>

<body>
    <header class="valign-wrapper">
        <section class="valign">
            <h1>POGO API</h1>
            <p>The RESTful Pokémon GO API</p>
        </section>
    </header>
    <main class="container z-depth-2">
        <nav>
            <div class="nav-wrapper">
                <ul id="nav-mobile" class="hide-on-med-and-down">
                    <li><a href="home.html">Home</a></li>
                    <li><a href="documentation.html">Documentation</a></li>
                    <li><a href="about.html">About</a></li>
                </ul>
            </div>
        </nav>
        {{{body}}}
    </main>
    <script src="build/app.js"></script>
</body>

</html>
