@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300');
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	background: #e37682;
	background: -moz-linear-gradient(45deg, #e37682 0%, #935d8c 100%);
	background: -webkit-linear-gradient(45deg, #e37682 0%, #935d8c 100%);
	background: linear-gradient(45deg, #e37682 0%, #935d8c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e37682', endColorstr='#935d8c', GradientType=1);
	min-height: 100vh;
}

nav {
	background: #f7f7f7;
	margin: 0;
	box-shadow: none;
	li a {
		color: #636363;
	}
}

header {
	color: white;
	height: 300px;
	font-family: 'Source Sans Pro', sans-serif;
	justify-content: center;
	h1 {
		font-size: 3em;
		font-weight: 300;
		line-height: 1.2;
		text-align: center;
	}
	p {
		color: rgba(255, 255, 255, 0.65);
		text-align: center;
		font-size: 2em;
		font-weight: 200;
	}
}

main {
	background-color: white;
	min-height: 400px;
	border-radius: 0.25em;
	margin-bottom: 50px !important;
	h2 {
		font-weight: 300;
		font-size: 2.5em;
	}
	section {
		margin-left: 0.75rem;
		margin-right: 0.75rem;
		padding: 10px 40px;
	}
	.api-output {
		color: #636363;
		background: #F5F5F5;
		height: 400px;
		border: 1px solid #ccc;
	}
	.api-preview-input {
		display: flex;
		input {
			margin-top: -1px;
		}
		.input-addon {
			border: 1px solid #ccc;
			color: #636363;
			background: #F5F5F5;
			height: 45px;
			min-width: 200px;
			#api-url {
				width: 100%;
				text-align: center;
			}
		}
	}
}